<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/style1.css" />
	<title>로그인</title>
</head>
<body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<form id="login" action="/user/loginUser.do" method="post">
		<input class="box" type="text" name="email" id="email" placeholder="이메일" /> <br> 
		<input class="box" type="password" name="password" id="pw" placeholder="비밀번호" /><br><br>
		<input type="submit" name="Login" value="로그인" class="submit">
	</form>
</body>
</html>