<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="utf-8">
    <title>여행후기</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

  <script>
      $(document).ready(function(){
        $('.slider').bxSlider({
          auto:true,
          controls : false
        });
      });
    </script>
  </head>
  <body>
    <div class="div">
      <a class="a1" href="login.html">로그인</a>
      <a class="a1" href="#">회원가입</a>
      <div class="div1">
        <a href="main.html"><img src="/images/logo.jpg" alt="로고"></a>
      </div>
        <div class="div1-2">
          <ul>
            <li>
              <a href="#">동남아</a>
            </li>

            <li>
              <a href="#">유럽</a>
            </li>

            <li>
              <a href="#">북아메리카</a>
            </li>

            <li>
              <a href="#">남아메리카</a>
            </li>

            <li>
              <a href="#">아시아</a>
            </li>

            <li>
              <a href="#">국내</a>
            </li>
          </ul>
        </div>
    </div>
    <div class="sliderbox">
      <div class="slider">
        <div> <img class="simg" src="/images/sliderimg1.jpg"  alt="동남아"></div>
        <div> <img class="simg"src="/images/sliderimg2.jpg" alt="유럽"></div>
        <div> <img class="simg"src="/images/sliderimg3.jpg"  alt="북아메리카"></div>
        <div> <img class="simg"src="/images/sliderimg4.jpg" alt="남아메리카"></div>
        <div> <img class="simg"src="/images/sliderimg5.jpg" alt="국내"></div>
      </div>
    </div>


    <div class="board">
      <div class="leftboard">
        <div>
          <i class="xi-play xi-3x i1"></i>
          <a class="lba"href="#">동남아</a>
          <a class="lbar"href="#">더보기</a>
          <i class="xi-plus-min xi-2x i1 i2"></i>
        </div>
        <div class="leftboardca">
          <ul>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
          </ul>
        </div>
      </div>

      <div class="rightboard">
        <div>
          <i class="xi-play xi-3x i1"></i>
          <a class="lba"href="#">유럽</a>
          <a class="lbar"href="#">더보기</a>
          <i class="xi-plus-min xi-2x i1 i2"></i>
        </div>
        <div class="rightboardca">
          <ul>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
          </ul>
        </div>
      </div>
      <div class="leftboard">
        <div>
          <i class="xi-play xi-3x i1"></i>
          <a class="lba"href="#">북아메리카</a>
          <a class="lbar"href="#">더보기</a>
          <i class="xi-plus-min xi-2x i1 i2"></i>
        </div>
        <div class="leftboardca">
          <ul>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
          </ul>
        </div>
      </div>

      <div class="rightboard">
        <div>
          <i class="xi-play xi-3x i1"></i>
          <a class="lba"href="#">국내</a>
          <a class="lbar"href="#">더보기</a>
          <i class="xi-plus-min xi-2x i1 i2"></i>
        </div>
        <div class="rightboardca">
          <ul>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
          </ul>
        </div>
      </div>

      <div class="leftboard">
        <div>
          <i class="xi-play xi-3x i1"></i>
          <a class="lba"href="#">남아메리카</a>
          <a class="lbar"href="#">더보기</a>
          <i class="xi-plus-min xi-2x i1 i2"></i>
        </div>
        <div class="leftboardca">
          <ul>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
            <li><a class="ca"href='#'>카테고리 미리보기</a></li>
          </ul>
        </div>
      </div>

    </div>
  </body>
</html>
